[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=dd01808e75&view=fimg&th=1602de41eb397716&attid=0.1&disp=emb&realattid=ii_1602de3fd9c1b36c&attbid=ANGjdJ8QF9k9Zz1H88q0HabR4WRuovPG3JhHb7dwCsNIilDaLDgpJZ8CvLwFB3vuwnSyUsLHjjeyrQ7e9TT0QPolfez8uoInfvw25w5lVSjqn-KdO9ImdH1SmB05MDo&sz=w1088-h946&ats=1512621087294&rm=1602de41eb397716&zw&atsh=1
Icon=text-html
